.custom-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)
}

body {
    background-color: $dark;
    display: grid;
    height: 100vh;
    width: 100%;
    grid-gap: 0.25em;
    grid-template-columns: 1fr;
    grid-template-rows: 75px minmax(50vh, 1fr) 250px minmax(70vh,1fr);
    grid-template-areas:
        "navbar"
        "map"
        "widgets"
        "sidebar"
}

nav {
    grid-area: navbar;
    background-color: $app-primary-dark;
}

#map {
    grid-area: map;
    margin: .5em;
    position: relative;
}

widgets {
    grid-area: widgets;
    background-color: $app-primary-dark;
    margin: 0 .5em;
    display: grid;
    grid-gap: 0.5em;
    grid-template-rows: 150px 90px;
    grid-template-columns: 1fr;
}

#sidebar {
    grid-area: sidebar;
    margin: 0 .5em;
}

.card-data { font-size: 20px; }
.card-info { font-size: 9px; font-style: italic;}

.chart-container-1 { position: relative; width:94vw; height:35vh; }
.chart-container-2 { position: relative; width:94vw; height:46vh; }
.chart-container-3 { position: relative; width:94vw; height:28vh; }
.chart-container-4 { position: relative; width:90vw; height:46vh; }

@media only screen and (min-device-width : 650px) {

    body {
        grid-template-rows: 75px minmax(100vh, 1fr) 190px minmax(70vh,1fr);
    }

    #map {
        margin-top:1.5em;
    }

    widgets {
        grid-template-rows: 90px 90px;
    }

    .chart-container-1 { position: relative; width:94vw; height:70vh; }
    .chart-container-2 { position: relative; width:94vw; height:90vh; }
    .chart-container-3 { position: relative; width:94vw; height:50vh; }
    .chart-container-4 { position: relative; width:94vw; height:70vh; }
}


@media only screen and (min-device-width : 1280px) {
    body {
        background-color: #3E4551;
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-gap: 0.5em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 94px 80px 1fr;
        grid-template-areas:
            "navbar navbar"
            "widgets widgets"
            "map     sidebar"
    }
    
    nav {
        grid-area: navbar;
        background-color: $app-primary-dark;
    }
    
    widgets {
        grid-area: widgets;
        background-color: $app-primary-dark;
        margin: 0 0.5em;
        display: grid;
        grid-gap: 0.5em;
        grid-template-rows: 80px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    #map {
        // grid-area: map;
        margin-top: 0;
        margin-right: 0;
        margin-left: .5em;
        
        //margin-bottom: 0.5em;
        position: relative;
    }

    #sidebar {
        margin-left: 0;
    }
    
    .chart-grid {
        display: grid;
        grid-gap: 0.2em;
        grid-template-columns: auto;
        // grid-template-rows: repeat( 2, minmax(310px, 1fr) );
        grid-template-rows: 30px 300px 300px;
    }
    
    .chart-grid-quad {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 30px minmax(270px,1fr) minmax(270px,1fr);
        grid-template-areas: 
            "pie-legend pie-legend"
            "pie-chart1 pie-chart2"
            "pie-chart3 pie-chart4"
    }
    
    .chart-grid-mono {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto;
        grid-template-rows: minmax(600px,1fr) 20px;
    }
    
    .pie-legend { grid-area: pie-legend }
    .pie-chart1 { grid-area: pie-chart1 }
    .pie-chart2 { grid-area: pie-chart2 }
    .pie-chart3 { grid-area: pie-chart3 }
    .pie-chart4 { grid-area: pie-chart4 }

    
    .chart-container-1 { position: relative; width:45vw; height:32vh; }
    .chart-container-2 { position: relative; width:45vw; height:35vh; }
    .chart-container-3 { position: relative; width:45vw; height:29vh; }
    .chart-container-4 { position: relative; width:47vw; height:60vh; }
}

@media only screen and (min-device-width : 1440px) {

    .card-data { font-size: 24px; }
    .card-info { font-size: 12px; font-style: italic;}

    .chart-container-1 { position: relative; width:45vw; height:34vh; }
    .chart-container-2 { position: relative; width:45vw; height:42vh; }
    .chart-container-3 { position: relative; width:45vw; height:31.5vh; }
    .chart-container-4 { position: relative; width:47vw; height:65vh; }
}

@media only screen and (min-device-width : 1920px) and (min-device-height:1080px) {

    .chart-container-1 { position: relative; width:48vw; height:34vh; }
    .chart-container-2 { position: relative; width:48vw; height:44vh; }
    .chart-container-3 { position: relative; width:47vw; height:32vh; }
    .chart-container-4 { position: relative; width:47vw; height:70vh; }
}