.custom-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)
}

body {
    background-color: #8d8a8a;
    display: grid;
    height: 100vh;
    grid-gap: 0.5em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90px 1fr;
    grid-template-areas:
        "navbar navbar"
        "map    sidebar"
}

nav {
    grid-area: navbar;
    background-color: $app-primary-dark;
}

#map {
    grid-area: map;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    position: relative;
}

#sidebar {
    grid-area: sidebar;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    display: grid;
    grid-gap: 0.2em;
    grid-template-rows: 80px 1fr;
}

.chart-grid {
    display: grid;
    grid-gap: 0.2em;
    grid-template-columns: auto;
    grid-template-rows: repeat( 2, minmax(310px, 1fr) );
}

.chart-grid-quad {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 30px minmax(273px,1fr) minmax(273px,1fr);
    grid-template-areas: 
        "pie-legend pie-legend"
        "pie-chart1 pie-chart2"
        "pie-chart3 pie-chart4"
}

.pie-legend { grid-area: pie-legend }
.pie-chart1 { grid-area: pie-chart1 }
.pie-chart2 { grid-area: pie-chart2 }
.pie-chart3 { grid-area: pie-chart3 }
.pie-chart4 { grid-area: pie-chart4 }

#footer {
    grid-area: footer;
    background-color: $app-primary-dark;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

@media only screen and (max-device-width : 1024px) {
    body {
        background-color: $dark;
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 100%;
        grid-template-rows: 90px minmax(50vh, 1fr) minmax(200px,1fr);
        grid-template-areas:
            "navbar"
            "map"
            "sidebar"
    }

    #sidebar {
        grid-area: sidebar;
        margin: 0 0.5em 20px 0.5em;
        display: grid;
        grid-gap: 0.2em;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: minmax(50vh, 1fr);
    }

    #map {
        grid-area: map;
        margin: 0 0.5em;
    }
}

@media only screen and (max-device-width : 414px) {
    body {
        background-color: $dark;
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 100%;
        grid-template-rows: 90px minmax(50vh, 1fr) 75vh;
        grid-template-areas:
            "navbar"
            "map"
            "sidebar"
    }

    #sidebar {
        grid-area: sidebar;
        margin: 0 0.5em 20px 0.5em;
        display: grid;
        grid-gap: 0.2em;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    #map {
        grid-area: map;
        margin: 0 0.5em;
    }
}