/** MY STYLES VARIABLES
    **********************
*/
@import './partials/variables';

/** BOOTSTRAP SASS MODULES 
    **********************
*/
.card-header { padding:0.1rem 0.75rem !important; }
.card-body { padding:0.75rem !important; }

.card-data { font-size: 26px; }
.card-info { font-size: 12px; font-style: italic;}

// Overrides
$theme-colors: (
  "primary": $app-base-color,
  "secondary": #5F497F,
  "info-dark": #3F729B,
  "warning-dark":#FF8800,
  "warning-darker":#e65100,
  "danger-dark":#c62828,
  "badge-info": #265891
);

.nav-tabs > li.active > a {
    color: #3c5a78;
    // font-size: 16px;
}
.nav-tabs > li > a {
    color: #FFF;
}

// Vendor
@import "../../node_modules/bootstrap/scss/bootstrap";

/** MY STYLES
    **********************
*/
@import './partials/base';
@import './partials/map';